/* Navbar.css */
.navbar {
   background-color: #333;
   padding: 1rem;
   display: flex;
   justify-content: center;
 }
 
 .navbar-container {
   width: 90%;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .navbar-logo {
   font-size: 1.5rem;
   color: #fff;
   text-decoration: none;
 }
 
 .navbar-links {
   list-style: none;
   display: flex;
   gap: 1rem;
 }
 
 .navbar-links a {
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
   transition: color 0.3s;
 }
 
 .navbar-links a:hover {
   color: #00bcd4;
 }
 
 .login-button {
   padding: 0.5rem 1rem;
   background-color: #00bcd4;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1rem;
   transition: background-color 0.3s;
 }
 
 .login-button:hover {
   background-color: #008c9e;
 }
 